<section id="sect">
	<h1>RTO Monitoring System</h1>
	<p>The Ministry of Road Transport &amp; Highways (MoRTH) has been facilitating computerization of over 1300+ Road
		Transport Offices (RTOs) across the country. RTOs issue Registration Certificate (R.C.) &amp; Driving License
		(D.L.) that are mandatory requirements and are valid across the country, subject to certain provisions and
		permissions.</p>
	<p>With wide variations in state policies and manual/ system based procedures being followed across the country, it
		had become necessary to define same standards for these documents on a pan-India level to ensure
		interoperability, correctness and timely availability of information. SCOSTA committee setup for this purpose
		had recommended a uniform standardized software across the country. The Ministry thus entrusted National
		Informatics Centre (N.I.C.) with the task of standardizing &amp; deploying two softwares - VAHAN for Vehicle
		Registration and SARATHI for Driving Licenses and of compiling the data with respect to Vehicle Registration and
		Driving Licenses of all the states in State Register and National Register.The applications VAHAN &amp; SARATHI
		were conceptualized to capture the functionalities as mandated by Central Motor Vehicle Act, 1988 as well as
		State motor vehicle Rules with customization in the core product to suit the requirements of 36 States and UTs.
	</p>
	<p><strong>Our Vision:</strong> To improve the quality of service delivery to the citizen and the quality of work
		environment of the RTOs.</p>
	<p><strong>Our Mission:</strong> To automate all Vehicle Registration and Driving License related activities in
		transport authorities of country with introduction of smart card technology to handle issues like inter state
		transport vehicle movement and to create state and national level registers of vehicles/DL information</p>
</section>