
<body id="body" >
    
    
<div class="parent clearfix">
    <div class="bg-illustration">

      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>
    
    <div class="login">
      <div class="container">
        <h1>Login to access to<br />your account</h1>
    
        <div class="login-form">
          <form action="">
            <input type="username" placeholder="Username">
            <input type="password" placeholder="Password">

            <span style="margin-left: 200px ; margin-top: 50px;margin-bottom:50px;">Don't have an account</span>
            <div class="login-buttons">
              <button class="login-button" (click)="navigateToHome()" type="button" >LOGIN</button>
              <button class="signup-button" (click)="navigateToSignup()" type="button">Signup</button>
            </div>
          </form>
        </div>
    
      </div>
      </div>
  </div>
</body>