

<body id="body">


    <div class="parent clearfix">
        <div class="bg-illustration">

        

        </div>

        <div class="login" style="margin-top:0px">
            <div class="container">
                <h1 style="margin: 10px;">SIGNUP</h1>

                <div class="login-form" style="margin: 10px;">
                    <form action="">
                        <input type="username" placeholder="Username">
                        <input type="password" placeholder="Password">

                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm passsword">

                        <button class="signup-button" (click)="navigateToLogin()" type="button" style="width:50%; margin-top:20px;margin-left:120px">Signup</button>
                        <span style="margin-left: 200px ; margin-top: 50px;margin-bottom:50px;">Have an
                            account</span>
                        <div class="login-buttons">
                            <button class="login-button" (click)="navigateToLogin()" type="button" style="width:50%">LOGIN</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>