#sect {
    background-color: #f4f4f4;
    padding: 100px;
    margin: 20px;
    border-radius: 5px;
  }
  
  h2 {
    color: #f1f1f1;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
  }
  
  th {
    background-color: #FF725E;
    color: #fff;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  td:last-child {
    text-align: center;
  }
  
  button {
    background-color: #C53F3F;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  