<section id="sect">
<h2>Write to Us:</h2>
<p style="font-weight: bold;">For any query regarding this website, please contact the Web Information Manager.:</p>
<ul>
  <li>Name: Sh. S.K. Geeva</li>
  <li>Designation: Under Secretary (MVL)</li>
  <li>Email-id: wim[dot]rth[at]nic[dot]in</li>
</ul>
<p>For any Technical Problems related to:</p>
<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Email-id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vehicle registration, fitness, Tax, Permit, Fancy, Dealer etc</td>
      <td>helpdesk-vahan[at]gov[dot]in</td>
    </tr>
    <tr>
      <td>Learner License, Driving Licence etc</td>
      <td>helpdesk-sarathi[at]gov[dot]in</td>
    </tr>
    <tr>
      <td>mParivahan Related</td>
      <td>helpdesk-mparivahan[at]gov[dot]in</td>
    </tr>
    <tr>
      <td>eChallan Related</td>
      <td>helpdesk-echallan[at]gov[dot]in</td>
    </tr>
  </tbody>
</table>
</section>
