<section id="sect">
<section id="license-related" style="padding-top:80px;">
    <h1 style="margin-left: 500px;font-size:xx-large; color: #2f0904">License Related Services</h1>
    <div class="card-container">
      <div class="card">
        <a [routerLink]="['/dl-license']"><img src="/assets/dl.png" alt="License Service 1">
        <h3>Drivers/ Learners License</h3>
        <p>License registration on your fingertips</p>
      </a>
      </div>

      <div class="card">
        <a [routerLink]="['/drivingschool']"><img src="/assets/ds.png" alt="License Service 1">
        <h3>Driving School</h3>
        <p>One place for application of Driving School License</p>
        </a>
      </div>
      <div class="card">
        <a [routerLink]="['/onlinetest']"><img src="/assets/ot.png" alt="License Service 1">
        <h3>Online Test</h3>
        <p> Online test appointments</p></a>

      </div>
      <div class="card">
        <a [routerLink]="['/appointment']"><img src="/assets/app.png" alt="License Service 1">
        <h3>Appointment</h3>
        <p>Check appointments</p>
        </a>
      </div>
    </div> 
  </section>
  
  <section id="vehicle-related">
    <h1 style="margin-left: 500px;font-size:xx-large;color: #2f0904">Vehicle Related Services</h1>
    <div class="card-container">
      <div class="card">
        <a [routerLink]="['/vehicle-reg']"><img src="/assets/vreg.png" alt="License Service 1" >
        <h3>Vehicle Registration</h3>
        <p>One click for all the vehicle related citizen services</p></a>
      </div>
      <div class="card">
        <a [routerLink]="['/fancy-no']"><img src="/assets/fan.png"alt="License Service 1">
        <h3>Fancy Number Allocation</h3>
        <p>One click for all the vehicle related citizen services</p></a>
      </div>
      <div class="card">
        <a [routerLink]="['/national-permit']"><img src="/assets/permit.png" alt="License Service 1">
        <h3>National Permit</h3>
        <p>Seamless online way for vehicle permits</p></a>
      </div>
      <div class="card">
        <a [routerLink]="['/dealer-reg']"><img src="/assets/dealer.png" alt="License Service 1">
        <h3>Dealer Registration</h3>
        <p>One click for all the dealers related services</p></a>
        
      </div>
    </div>
  </section>
  </section>